{% load static %}
<!-- Mobile Header -->
<div class="sticky">
    <div class="horizontal-header clearfix ">
        <div class="container">
            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            <span class="smllogo"><img src="{% static 'images/logo.png' %}" width="36" alt="img" /><b
                    class="custom-logo-name-mobile">Chatbot</b></span>
            <span class="smllogo-white"><img src="{% static 'images/logo.png' %}" width="36" alt="img" /><b
                    class="custom-logo-name-mobile">Chatbot</b></span>

        </div>
    </div>
</div>





<!-- /Mobile Header -->

<!--Horizontal-main -->
<div class="horizontal-main header-style1  bg-dark-transparent clearfix">
    <div class="horizontal-mainwrapper container clearfix">
        <div class="desktoplogo">
            <a href="{% url 'home' %}"><span class="text-primary">Smart</span>
            </a>
        </div>
        <div class="desktoplogo custom-logo-name-desktop">Chatbot</div>
        <div class="desktoplogo-1">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="img"></a>
        </div>
        <div class="desktoplogo-1 custom-logo-name-desktop">Chatbot</div>
        <nav class="horizontalMenu clearfix d-md-flex">
            <ul class="horizontalMenu-list">
                <li aria-haspopup="true"><a href="{% url 'home' %}">Home</a> </li>
                
                {% if request.user.groups.all.0.name == 'user' %}
                    <li aria-haspopup="true"><a href="{% url 'home' %}">Home</a> </li>
                {% endif %}
                <li aria-haspopup="true"><a href="{% url 'profile' %}">profile</a></li>
                <li aria-haspopup="true" class="p-0 mt-1">
                    <span>
                        {% if request.user %}
                            <a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'register' %}">Register Now</a>
                        {% endif %}
                        
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>


<br /><br />
<br /> <br />
<br /> <br />
<br /> <br />