{% extends '../element/main.html' %}

{% block content %}
<section class="sptb">
    <div class="container">
        <div class="row">

            {% include '../element/menu.html' with name=1 %}

            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Profiles</h3>
                    </div>
                    <div class="card-body">
                        <div class="ads-tabs">
                            <div class="tabs-menus"> <!-- Tabs -->
                                <div class="row">
                                    <div class="col-md-6">
                                      <button class="btn btn-primary float-left"> All Profiles
                                        <span class="ms-3 badge badge-primary">{{n_t}}</span></button>
                                    </div>
                                </div>



                            
                            </div>
                            <div class="tab-content">
                                <br>
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                
                                                     <thead class="table-success">
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Courses: activate to sort column ascending" style="width: 222.422px;">Username</th>
                                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 99.25px;">Role</th>
                                                          
                                                            <!--<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 53.9531px;">Status</th>-->
                                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 121.297px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in profiles %}
                                                            <tr class="{% cycle 'odd' 'even' %}">
                                                                <td>
                                                                    <div class="media mt-0 mb-0">
                                                                        <div class="card-aside-img"> <a href="javascript:void(0)"></a> <img src="{{item.image.url}}" alt="img" style="width:5px;"> </div>
                                                                        <div class="media-body">
                                                                            <div class="card-item-desc ms-2 p-0 mt-0">
                                                                                <a href="javascript:void(0)" class="text-dark">
                                                                                    <h4 class="font-weight-bold">{{item.user.username}}</h4>
                                                                             </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>{{ item.user.groups.all.0.name }}</td>
                                                            
                                                                <!--<td> <a href="javascript:void(0)" class="btn btn-warning btn-sm">Published</a>
                                                                </td>-->
                                                                <td> <a href="{% url 'profile_edit' item.id %}" class="btn btn-outline-light btn-sm text-dark waves-effect waves-light bg-info" data-bs-toggle="tooltip" data-bs-original-title="Edit"><i class="fa fa-edit fs-16"></i></a> 
                                                                    <a onClick= class="btn btn-outline-light btn-sm text-dark waves-effect waves-light bg-dark" data-bs-toggle=" tooltip"="" data-bs-original-title="Delete"><i class="fa fa-trash fs-16"></i></a>  </td>
                                                            </tr>  
                                                        {% endfor %}    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <br> <br>

                                    
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block js %}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable();
        
    });
</script>
{% endblock js %}