{% extends '../element/main.html' %}

{% block content %}
<section class="sptb">
    <div class="container">
        <div class="row">

            {% include '../element/menu.html' with name=3 %}

            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Catigories</h3>
                    </div>
                    <div class="card-body">
                        <div class="ads-tabs">
                            <div class="tabs-menus"> 
                                
                                <div class="row">
                                    <div class="col-md-6">
                                      <button class="btn btn-primary float-left"> All categorie <span class="badge badge-light">{{n_t}}</span></button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{% url 'create_categorie' %}"  class="btn btn-primary col-xl-3 col-sm-5 col-lg-3 col-md-5" style="float:right;">Create</a>
                                    </div>                              
                                 </div>
                                
                             
                            </div>
                            <div class="tab-content">
                                <br>
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                
                                                     <thead class="table-success">
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Courses: activate to sort column ascending" style="width: 222.422px;">Name</th>
                                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 99.25px;">Date Created</th>
                                                            <!--<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 53.9531px;">Status</th>-->
                                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 121.297px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in categories %}
                                                            <tr class="{% cycle 'odd' 'even' %}">
                                                                <td>
                                                                    <div class="media mt-0 mb-0">
                                                                        <div class="media-body">
                                                                            <div class="card-item-desc ms-2 p-0 mt-0">
                                                                                <a href="javascript:void(0)" class="text-dark">
                                                                                    <h4 class="font-weight-bold">{{item.name}}</h4>
                                                                             </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>{{ item.date_creation }}</td>
                                                            
                                                                <!--<td> <a href="javascript:void(0)" class="btn btn-warning btn-sm">Published</a>
                                                                </td>-->
                                                                <td> <a href="{% url 'categorie_edit' item.id %}" class="btn btn-outline-light btn-sm text-dark waves-effect waves-light bg-info" data-bs-toggle="tooltip" data-bs-original-title="Edit"><i class="fa fa-edit fs-16"></i></a> 
                                                                    <a onclick="remove({{item.id}})" class="btn btn-outline-light btn-sm text-dark waves-effect waves-light bg-dark" data-bs-toggle=" tooltip"="" data-bs-original-title="Delete"><i class="fa fa-trash fs-16"></i></a>  </td>
                                                            </tr>  
                                                        {% endfor %}    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <br> <br>

                                     
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable();
        
    });
</script>

    <script>
        
        remove = function(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    parent.window.location.href = '/categorie_delete/'+id;
                }
            });
            
        };
        
    </script>
{% endblock js %}